<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 90%;
    width : 98%;
    margin: 0 auto;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .flex_row {
      height: 60px;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      }

    .flex_col {
      display: inline-flex;
      flex-direction: column;
      }

  .ringed_box {

    border: 8px solid red;
    border-radius: 20px;
    padding: 6px;
    font-family: Arial;
    font-size: 20pt;
    width: 650px;
    margin: 20px;
  }
  .small_ringed_box {
    /* display: inline-block; */
    border: 1px solid red;
    border-radius: 10px;
    padding: 6px;
    margin: 6px;
  }
  .small_button{
    display: table-cell;
    vertical-align: middle;
    width: 110px;
    height: 28px;
    max-height: 28px;
    font-family: Arial;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 9pt;
    border: 1px solid blue;
    color: black;
    background: white;
    margin: 5px;
  }

</style>

<script>

  var timeout_period = 5 * 1000;  // 5 seconds
  var monitor_period = 30 * 1000;  // 5 seconds
  var last_monitor = null;  // 5 seconds

  function timerTick() {
    getLocation();
    var timeout = setTimeout(timerTick, timeout_period);
    }

  window.onload = timerTick;

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(checkPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  var sq_ne, sq_sw, marker, line, map, in_the_square_flag = false;

  function checkPosition(position) {

    var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
    marker.setPosition (pos);
    var current_time = new Date().getTime();


    if ((last_monitor == null) || (current_time - last_monitor > monitor_period))
      {
        last_monitor = current_time;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "xmas_position", true);
        var d = new Date();
        var time_string = d.toLocaleTimeString().replace(/\s/g, '');
        xhr.send(time_string + " " + position.coords.latitude + " " + position.coords.longitude + " <%= cookies[:xmas_token].to_s %>");
      }

    if (!in_the_square_flag && position.coords.latitude > sq_sw.lat() && position.coords.latitude < sq_ne.lat() &&
      position.coords.longitude > sq_sw.lng() && position.coords.longitude < sq_ne.lng()) {
      in_the_square_flag = true;
      document.getElementById("q").style.display = "block";
    } ;
  }


  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      draggable: true,
      heading: 90,
      zoomControl: true
    //
    });

    var thornhill_sq_ne = new google.maps.LatLng(51.540867, -0.114515);
    var thornhill_sq_sw = new google.maps.LatLng(51.539606, -0.115824);

    var richmond_av_environs_ne = new google.maps.LatLng(51.541756, -0.107020);
    var richmond_av_environs_sw = new google.maps.LatLng(51.537, -0.1165);

    var lonsdale_sq_ne = new google.maps.LatLng(51.53995, -0.1077);
    var lonsdale_sq_sw = new google.maps.LatLng(51.53926, -0.1087);

    var barnsbury_ne = new google.maps.LatLng(51.544328, -0.106652);
    var barnsbury_sw = new google.maps.LatLng(51.536808, -0.116385);

    var islington_ne = new google.maps.LatLng(51.550872, -0.094647);
    var islington_sw = new google.maps.LatLng(51.530205, -0.122398);

    sq_ne = new google.maps.LatLng(<%= @ne %>);
    sq_sw = new google.maps.LatLng(<%= @sw %>);

    set_square(sq_ne, sq_ne, 2);

    marker = new google.maps.Marker({
        map: map
      });

    var bounds =  new google.maps.LatLngBounds(richmond_av_environs_sw, richmond_av_environs_ne);
    map.fitBounds(bounds,0);

    // alert("test");
  }

  function set_square(){


    line = new google.maps.Polyline({
      geodesic: true,
      strokeColor: "blue",
      strokeOpacity: 1.0,
      strokeWeight: 2
    });

    var path = [];
    path.push({lat: sq_ne.lat(), lng: sq_ne.lng() });
    path.push({lat: sq_ne.lat(), lng: sq_sw.lng() });
    path.push({lat: sq_sw.lat(), lng: sq_sw.lng() });
    path.push({lat: sq_sw.lat(), lng: sq_ne.lng() });
    path.push({lat: sq_ne.lat(), lng: sq_ne.lng() });

    line.setPath(path);
    line.setMap(map);

    in_the_square_flag = false;
  }

  function incorrect() {
    alert("Incorrect");
  }

  function correct() {
    alert("Correct");
    form_q.submit();
  }
</script>
<meta name = "format-detection" content = "telephone=no">
<%= form_tag xmas_q_correct_path(@next_q), :id => "form_q", :method =>'get' do  %>
  <div id="q" style="display: none" class="ringed_box">

    <% if @next_q != 99 %>
      <div class="flex_col">
        You have arrived at your <%= @ordinal %> destination.<br/><br/>
        <%= @question %>
        <div class="flex_row">
          <div class="small_ringed_box">
            <%= @answer1 %>
            <input type="radio" name="q1" onchange="<%= "in" if @a != 1 %>correct()">
          </div>
          <div class="small_ringed_box">
            <%= @answer2 %>
            <input type="radio" name="q1" onchange="<%= "in" if @a != 2 %>correct()">
          </div>
          <div class="small_ringed_box">
            <%= @answer3 %>
            <input type="radio" name="q1" onchange="<%= "in" if @a != 3 %>correct()">
          </div>
        </div>
      </div>
    <% else %>
      Back at 93 RA.  Now go in the house and when inside press this button.
      <%= submit_tag "Press", :class => "small_button" %>

    <% end %>
  </div>
<% end %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-MiNsHFnMMt2RS_MzZeKZTUoUS-ITdFI&callback=initMap" async defer></script>

<div id="map"></div>
