<%= form_with(model: sheet, local: true) do |form| %>
  <% if sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sheet.errors.count, "error") %> prohibited this sheet from being saved:</h2>

      <ul>
      <% sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table width="100%">
  <col width="15%">
  <col width="30%">
  <col width="55%">
  <tr>
    <td class="standard_label">
      Name
    </td>
    <td>
      <%= form.text_field :client_name , :class=> "standard" %>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td class="standard_label">
      Password
    </td>
    <td>
      <%= form.text_field :password , :class=> "standard" %>
    </td>
    <td>
      <%= form.submit "Update" , :class=> "standard" %>
    </td>
  </tr>
</table>
<% end %>
