<h1>Editing Sheet</h1>

<%= render 'form', sheet: @sheet %>

<div style="font-weight: bold">Contacts for sheet</div><br/>
<%= form_tag remove_contact_from_sheet_path(@sheet)  do %>
  <table style="width:50%">
    <col width="10%">
    <col width="35%">
    <col width="10%">
    <col width="10%">
    <col width="15%">
    <col width="20%">
    <% contacts = @sheet.contacts_in_order %>
    <% contacts.each do|contact| %>
      <tr>
        <td><%= check_box_tag 'check'+ contact.id.to_s %></td>
        <td><%= contact.name %>(<%= contact.order_number(@sheet)%>)</td>
        <td><% if contact != contacts.first %><%= link_to "up", sheet_order_up_path(sheet_id: @sheet.id, contact_id: contact.id) %><% end %></td>
        <td><% if contact != contacts.last %><%= link_to "down", sheet_order_down_path(sheet_id: @sheet.id, contact_id: contact.id) %><% end %></td>
        <td><% if contact != contacts.first %><%= link_to "to top", to_top_path(sheet_id: @sheet.id, contact_id: contact.id) %><% end %></td>
        <td><% if contact != contacts.last %><%= link_to "to bottom", to_bottom_path(sheet_id: @sheet.id, contact_id: contact.id) %><% end %></td>
      </tr>
    <% end %>
  </table>
  <% if contacts.count > 0 %>
    <%= submit_tag "Remove contacts" %>
  <% else %>
    None
  <% end %>
<% end %>
<br/>
<div style="font-weight: bold">Other contacts</div><br/>
<%= form_tag add_contact_to_sheet_path(@sheet)  do %>
  <% Contact.all.order(:last_name, :first_name).each do|contact| %>
    <% if @sheet.contacts.where(:id => contact.id).count == 0 %>
      <span style="white-space: nowrap;">
        <%= check_box_tag 'check'+ contact.id.to_s %>
        <%= contact.name %>
      </span>
    <% end %>
  <% end %>
  <br/>
  <br/>
  <%= submit_tag "Add contact(s)" %>
<% end %>
<br/>
<%= link_to 'Show', @sheet %> |
<%= link_to 'Back', sheets_path %>
