<h1>Client Sheet</h1>

<table width="100%">
  <col width="72%">
  <col width="28%">
  <tr>
    <td>
      <%= form_with(model: @sheet) do |form| %>

        <table width="100%">
          <col width="25%">
          <col width="50%">
          <col width="25%">
          <tr>
            <td class="standard_label">
              <h2>Client name</h2>
            </td>
            <td>
              <%= form.text_field :client_name, :class => "standard", :style => "width: 300px; margin-left: 10px"%>
            </td>
            <td>
              <%= form.submit "Update", :class => "large_button" %>
            </td>
        </table>

      <% end %>
    </td>
  <td>
      <div class="select_box_wrapper1">

        <table width="100%">
          <col width="38%">
          <col width="62%">
          <tr>
            <td>
              <h2>QR Code</h2>
            </td>
            <td style="vertical-align: middle; text-align: center;" >
              <%= image_tag get_qr_code_path(@sheet), :width => "150" %>
            </td>
          </tr>

        </table>
      </div>

    </td>
  </tr>
</table>

<table width="100%">
  <col width="50%">
  <col width="50%">
  <tr>
    <td style=" vertical-align: top">

      <div class="select_box_wrapper" style="margin-top: 0px; background-color: yellow; height: 225px;">
        <h2 style="margin:0px">Contacts for sheet</h2>

        <% contacts = @sheet.contacts_in_order %>
        <% if contacts.count > 0 %>
          <%= form_tag update_contact_for_sheet_path(@sheet)  do %>
            <div class="select_box_list" style="height: 164px;">
              <table width="100%">
                <col width="10px">
                <col width="1*">
                <col width="90px">
                <col width="20px">
                <col width="20px">
                <col width="55px">
                <col width="90px">
                <% contacts.each do|contact| %>
                  <tr>
                    <td><%= check_box_tag 'check'+ contact.id.to_s %></td>
                    <td><%= link_to contact.name, edit_contact_path(contact) %></td>
                    <td>
                      <% descs_in_order = contact.descs_in_order %>
                      <%= select_tag "select"+contact.id.to_s, options_for_select(descs_in_order.map{ |description| [description.name, description.id]}, Conshejointable.where(:sheet_id => @sheet.id, :contact_id => contact.id).first.description_id), :class=> "small_button", :style => "width: 80px; height:20px; margin: 0px" %></td>
                    <td><% if contact != contacts.first %><%= link_to "up", sheet_order_up_path(sheet_id: @sheet.id, contact_id: contact.id) %><% end %></td>
                    <td><% if contact != contacts.last %><%= link_to "down", sheet_order_down_path(sheet_id: @sheet.id, contact_id: contact.id) %><% end %></td>
                    <td><% if contact != contacts.first %><%= link_to "to top", to_top_path(sheet_id: @sheet.id, contact_id: contact.id) %><% end %></td>
                    <td><% if contact != contacts.last %><%= link_to "to bottom", to_bottom_path(sheet_id: @sheet.id, contact_id: contact.id) %><% end %></td>
                  </tr>
                <% end %>
              </table>
            </div>
            <%= submit_tag "Remove selected contacts", :class => "small_button", :style =>"width: 170px" %>
            <%= submit_tag "Update", :class => "small_button", :style =>"margin-left: 95px" %>
          <% end %>

        <% end %>
      </div>
    </td>

    <td style="vertical-align: top">
      <div class="select_box_wrapper" style="background-color: lightgreen; height: 225px ">
        <h2 style="margin:0px">Other contacts</h2>
        <%= form_tag add_contact_to_sheet_path(@sheet)  do %>
          <div class="select_box_list" style="height: 166px ">
            <% Contact.all.order(:last_name, :first_name).each do|contact| %>
              <% if @sheet.contacts.where(:id => contact.id).count == 0 %>
                <span style="white-space: nowrap;">
                  <%= check_box_tag 'check'+ contact.id.to_s %>
                  <%= contact.name %>
                </span>
              <% end %>
            <% end %>
          </div>
          <%= submit_tag "Add selected contact(s)", :class => "small_button", :style =>"width: 170px"  %>
        <% end %>
      </div>
    </td>
  </tr>
</table>


<table width="100%">
  <col width="50%">
  <col width="50%">
  <tr>
    <td style=" vertical-align: top">

      <div class="select_box_wrapper" style="margin-top: 4px; background-color: light-blue;height: 200px ">
        <h2 style="margin:0px">Brochures for sheet</h2>

        <% brochures = @sheet.brochures_in_order %>
        <% if brochures.count > 0 %>
          <%= form_tag update_brochure_for_sheet_path(@sheet)  do %>
            <div class="select_box_list" style="height: 142px">
              <table style="width:70%">
                <col width="4%">
                <col width="30%">
                <col width="20%">
                <col width="7%">
                <col width="7%">
                <col width="11%">
                <col width="11%">
                <% brochures.each do |brochure| %>
                  <tr>
                    <td><%= check_box_tag 'check'+ brochure.id.to_s %></td>
                    <td><%= link_to brochure.name, edit_brochure_path(brochure) %></td>
                    <td><% if brochure != brochures.first %><%= link_to "up", sheet_order_up_path(sheet_id: @sheet.id, brochure_id: brochure.id) %><% end %></td>
                    <td><% if brochure != brochures.last %><%= link_to "down", sheet_order_down_path(sheet_id: @sheet.id, brochure_id: brochure.id) %><% end %></td>
                    <td><% if brochure != brochures.first %><%= link_to "to top", to_top_path(sheet_id: @sheet.id, brochure_id: brochure.id) %><% end %></td>
                    <td><% if brochure != brochures.last %><%= link_to "to bottom", to_bottom_path(sheet_id: @sheet.id, brochure_id: brochure.id) %><% end %></td>
                  </tr>
                <% end %>
              </table>
            </div>
            <%= submit_tag "Remove selected brochures", :class => "small_button", :style => "width: 130px", :style =>"width: 170px" %>
          <% end %>

          <% else %>
            None
          <% end %>
      </div>

    </td>

    <td style=" vertical-align: top">
      <div class="select_box_wrapper" style="margin-top: 4px; background-color: pink; height: 200px ">
        <h2 style="margin:0px">Other brochures</h2>
        <%= form_tag add_brochure_to_sheet_path(@sheet)  do %>
          <div class="select_box_list" style="height: 142px ">
            <% Brochure.all.order(:name).each do|brochure| %>
              <% if @sheet.brochures.where(:id => brochure.id).count == 0 %>
                <span style="white-space: nowrap;">
                  <%= check_box_tag 'check'+ brochure.id.to_s %>
                  <%= link_to brochure.name, edit_brochure_path(brochure) %>
                </span>
              <% end %>
            <% end %>
          </div>
          <%= submit_tag "Add selected brochure(s)", :class => "small_button", :style =>"width: 170px"  %>
        <% end %>
      </div>
    </td>
  </tr>
</table>

<div class="flex_row">
  <% if !@sheet.number.blank? %> <%= button_to 'Show', contact_sheet_no_log_path(:id => @sheet.number),:method=>:get ,:class=>"large_button make_button" %><% end %>
  <%= button_to 'Sheets', sheets_path,:method=>:get ,:class=>"large_button make_button" %>
</div>
