<p id="notice"><%= notice %></p>

<h1>Sheets</h1>

<table width="500px">
  <col width="40%">
  <col width="20%">
  <col width="20%">
  <col width="20%">

  <tbody>
    <% @sheets.each do |sheet| %>
      <tr>
        <td><%= sheet.client_name %></td>
        <td><% if !sheet.number.blank? %> <%= link_to 'Show', contact_sheet_path(:id => sheet.number) %><% end %></td>
        <td><%= link_to 'Edit', edit_sheet_path(sheet) %></td>
        <td><%= link_to 'Delete', sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Sheet', new_sheet_path, :class => "large_button", :method => :get %>
