<div class="sheet_box" style="overflow:auto; height: 90%; border-color: #606060; border-style: solid; border-width: 6px; border-radius: 10px; padding: 6px" >
  <script type="text/javascript">

    function show_further_details(contact_number) {
        document.getElementById("details" + contact_number).style.display = "table-row";
        document.getElementById("show_button" + contact_number).style.display = "none";
        document.getElementById("hide_button" + contact_number).style.display = "block";

    }

    function hide_further_details(contact_number) {
        document.getElementById("details" + contact_number).style.display = "none";
        document.getElementById("show_button" + contact_number).style.display = "block";
        document.getElementById("hide_button" + contact_number).style.display = "none";

    }
  </script>
  <style>
    .small_button{
      width: 80px;
      height: 22px;
      max-height: 22px;
      font-family: Arial;
      text-align: center;
      line-height: 20px;
      border-radius: 5px;
      font-weight: bold;
      font-size: 9pt;
      border: 1px solid blue;
      color: black;
      background: white;
    }

    .sheet_text {
      vertical-align: top;
      font-size: 10pt;
      font-weight: normal;
      font-family: Arial;
    }
    html {
      -webkit-text-size-adjust: 100%;
    }


  </style>

  <body style="background-color: #d3d3e0; font-family: Arial; " >


  <table width="100%">
    <col width="15%">
    <col width="70%">
    <col width="15%">
    <tr>
      <td><%= image_tag "cms.png" %></td>
      <td style="font-size: 40px;font-weight: bold">Contact details for <%= @sheet.client_name %></td>
      <td>
        <%= mail_to @sheet.contacts_emails , "Email all" , subject: @sheet.client_name + " - Urgent query" , body: "We have an urgent query.  Please call [] as soon as possible." %>
      </td>

  </tr>
  </table>


  <div style="width:100%; display: inline-flex;  height: 80%; flex-direction: column;">
    <div style="height: 60%; overflow:auto;">


      <table width="100%" style="margin-top: 20px">
        <col width="22%">
        <col width="18%">
        <col width="15%">
        <col width="15%">
        <col width="20%">
        <col width="10%">
        <tr class="sheet_text" style="font-weight: bold">
          <td>
            Name
          </td>
          <td>
            Position
          </td>
          <td>
            Telephone
          </td>
          <td>
            Mobile
          </td>
          <td>
            Email
          </td>
        </tr>
        <% @sheet.contacts_in_order.each do |contact| %>
          <tr class="sheet_text">
            <td><%= contact.name %></td>
            <td><%= contact.position %></td>
            <td><%= link_to contact.tel_number, "tel:" + contact.tel_number %></td>
            <td><%= link_to contact.mobile_number, "tel:" + contact.mobile_number %></td>
            <td><%= mail_to contact.email_address , nil , subject: @sheet.client_name + " - Urgent query" , body: "We have an urgent query.  Plese call [] as soon as possible." %></td>
            <td>
              <div id="show_button<%=contact.id.to_s %>">
                <button onclick="show_further_details(<%=contact.id.to_s %>)" class="small_button">Details</button>
              </div>
              <div id="hide_button<%=contact.id.to_s %>" style="display: none">
                <button onclick="hide_further_details(<%=contact.id.to_s %>)" class="small_button">Hide</button>
              </div>
            </td>
          </tr>

          <tr id="details<%=contact.id.to_s %>" class="sheet_text" style="display: none">
            <td colspan="6">
              <% if contact.has_picture? %>
                <table width="100%">
                  <col width="10%">
                  <col width="90%">
                  <tr class="sheet_text" >
                    <td><%= image_tag get_cont_picture_path(contact), :width => "70", :style => "border: 2px gray solid" %></td>
                    <td>
                      <div style="display: inline">
                        <%= contact.get_description(@sheet).strip %>
                        <% if !contact.url.blank? && contact.url != "" %>
                          &nbsp<button class="small_button" style="margin-left: 5px; width: 110px" onclick="location.href = '<%= contact.url %>'">Online profile</button>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                </table>
              <% else %>
                <%= contact.get_description(@sheet).strip %>
                <% if !contact.url.blank? && contact.url != "" %>
                  <%= button_to "Online profile", contact.url , :class => "small_button", :style => "width: 120px" %>
                <% end %>
              <% end %>
            </td>

          </tr>
        <% end %>
      </table>
    </div>

    <div style="height: 40%; overflow:auto;">

      <table width="100%" style="margin-top: 10px">
        <col width="5%">
        <col width="95%">
        <% @sheet.brochures_in_order.each do |brochure| %>
          <% if brochure.has_content? %>
            <tr>
              <td>
                <%= link_to(image_tag( brochure.has_picture? ? get_broch_picture_path(brochure) : "pdf.gif", :title => "Download pdf for job", :width => "70" ), download_content_path(brochure), :style => "margin-left: 5px" ) =%>

              </td>
              <td>
                <%= link_to brochure.name, download_content_path(brochure) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>

</div>
