<p id="notice"><%= notice %></p>

<p>
  <strong>Client name:</strong>
  <%= @sheet.client_name %><br/>
  <strong>Internal ID :</strong>
  <%= @sheet.number %><br/>
</p>

<div class="file_field_tag_container1">
  <% if !@sheet.number.blank? %> <%= button_to 'Show', contact_sheet_no_log_path(:id => @sheet.number),:method=>:get ,:class=>"large_button make_button" %><% end %>
  <%= button_to 'Edit', edit_sheet_path(@sheet) ,:method=>:get ,:class=>"large_button make_button" %>
  <%= button_to 'Sheets', sheets_path,:method=>:get ,:class=>"large_button make_button" %>
</div>
