<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% User.all.order(:name).each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New user', new_user_path %>

<h1 style="margin-top:60px">User groups</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Usergroup.all.order(:name).each do |usergroup| %>
      <tr>
        <td><%= usergroup.name %></td>
        <td><%= link_to 'Show', usergroup.url, method: :get  %></td>
        <td><%= link_to 'Edit', edit_usergroup_path(usergroup) %></td>
        <td><%= link_to 'Destroy', usergroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New user group', new_usergroup_path %>
