<%= form_with(model: brochure, local: true) do |form| %>
  <% if brochure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brochure.errors.count, "error") %> prohibited this brochure from being saved:</h2>

      <ul>
      <% brochure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex_row">
    <h2>Brochure title</h2>
    <%= form.text_field :name, :class => "standard", :style => "width: 450px; margin-left: 10px"%>
    <%= form.submit "Update", :class => "small_button" %>
  </div>
<% end %>

<% if !@brochure.id.blank? %>
  <div class="flex_col">

    <div class="flex_col" >


    <div class="select_box_wrapper" style="width: 620px">
      <h2 style="margin: 0px">Image</h2><br/>
      <table width="600px" style="border1: blue solid 2px; margin-top:-10px;">

        <col width="30%">
        <col width="70%">

        <tr>
          <td style="text-align: center; vertical-align: middle; height: 200px; border: gray solid 1px;">
            <% if @brochure.has_picture? %>
              <%= image_tag get_broch_picture_path(@brochure), :width => "130" %>

            <% end %>
          </td>

          <td style= "vertical-align: top">
            <%= form_tag broch_upload_picture_path(@brochure), :multipart => true, :method =>'post' do  %>
            <div class="flex_col">

              <div>
                <%= render "file_tag", title: "Upload picture", name: "img", tag: :picture_file, class_name: "large_button", height: 60, file_type: ".jpg" %>
              </div>

              <div>
                <%= render "get_url", tag: :picture_url %>
              </div>

              <div class="flex_row" style="margin-left:10px">
                <div>
                  <%= submit_tag "Rotate left" , :class=>"small_button" %>
                </div>
                <div>
                  <%= submit_tag "Rotate right" , :class=>"small_button" %>
                </div>
                <div>
                  <%= submit_tag "Delete" , :class=>"small_button" %>
                </div>

              </div>
            </div>

            <% end %>

            </td>
        </tr>
      </table>
    </div>

    <div class="select_box_wrapper" style="width: 620px; margin-top: 10px">
      <h2 style="margin: 0px">Document</h2><br/>
      <table width="600px" style="border1: blue solid 2px; margin-top:-10px;">

        <col width="30%">
        <col width="70%">

        <tr>
          <td style="text-align: center; vertical-align: middle; border: gray solid 1px;">
            <% if @brochure.has_content? %>
              <%= link_to(image_tag("pdf.gif", :title => "Download pdf for job", :width => "140" ), download_content_path, :style => "margin-left: 5px" ) =%>
            <% end %>
          </td>

          <td style= "vertical-align: top">

            <%= form_tag broch_upload_pdf_path(@brochure), :multipart => true, :method =>'post' do  %>
              <div class="flex_col">

                <div>
                  <%= render "file_tag", title: "Upload file", name: "pdf", tag: :pdf_file, class_name: "large_button", height: 60, file_type: ".pdf" %>
                </div>

                <div>
                  <%= submit_tag "Delete" , :class=>"small_button" %>
                </div>

              </div>

            <% end %>

          </td>
        </tr>
      </table>

    </div>
  </div>

<% end %>

<%= button_to "All brochures", brochures_path, {:method => :get, :class => "small_button", :style => "margin-top: 10px"} %>
