<table style="width:100%; ">
  <col width="50%">
  <col width="35%">
  <col width="15%">
  <tr>
    <td>
      <%= form_with(model: contact, local: true) do |form| %>
        <table style="width:80%; vertical-align: top;">
          <col width="50%">
          <col width="50%">
          <tr>
            <td>
              <%= form.label :first_name, :class => "standard_label"  %>
            </td>
            <td>
              <%= form.text_field :first_name, :class => "standard" %>
            <td>
          </tr>

          <tr>
            <td>
              <%= form.label :last_name, :class => "standard_label"  %>
            </td>
            <td>
              <%= form.text_field :last_name, :class => "standard" %>
            <td>
          </tr>

          <tr>
            <td>
              <%= form.label :position, :class => "standard_label"  %>
            </td>
            <td>
              <%= form.text_field :position, :class => "standard" %>
            <td>
          </tr>

          <tr>
            <td>
              <%= form.label :tel_number, :class => "standard_label"  %>
            </td>
            <td>
              <%= form.text_field :tel_number, :class => "standard" %>
            <td>
          </tr>

          <tr>
            <td>
              <%= form.label :mobile_number, :class => "standard_label"  %>
            </td>
            <td>
              <%= form.text_field :mobile_number, :class => "standard" %>
            <td>
          </tr>

          <tr>
            <td>
              <%= form.label :email_address, :class => "standard_label"  %>
            </td>
            <td>
              <%= form.text_field :email_address, :class => "standard", :style =>"width: 280px"  %>
            <td>
          </tr>

          <tr>
            <td>
              <%= form.label "Profile web address", :class => "standard_label"  %>
            </td>
            <td>
              <%= form.text_field :url, :class => "standard", :style =>"width: 280px"  %>
            <td>
          </tr>

          <tr>
            <td>
            </td>
            <td>
              <%= form.submit  "Update details", :class => "standard", :style =>"width: 200px" %>
            <td>
          </tr>
        </table>
      <% end %>


      <div class="select_box_wrapper" width="50%">
        <h2 style="margin: 0px">Image</h2><br/>
          <table width="800px" style="border1: blue solid 2px; margin-top:-10px;">

            <col width="20%">
            <col width="80%">

            <tr>
              <td style="text-align: center; vertical-align: middle; border: gray solid 1px;">
                <% if @contact.has_picture? %>
                  <%= image_tag get_cont_picture_path(@contact), :width => "100" %>

                <% end %>
              </td>

              <td>
                <%= form_tag cont_upload_picture_path(@contact), :multipart => true, :method =>'post' do  %>
                <div class="file_field_tag_container2">

                  <div class="file_field_tag_container1">
                    <div>
                      <label for="img_file-upload" class="make_button large_button">Browse</label>
                      <%= file_field_tag :picture_file , {:accept => '.jpg', :class=>"standard", :id => "img_file-upload", :onchange=> 'file_field_tag_browse_click("img_")' } %>
                    </div>

                    <div id="img_file_field_path_div" class="large_button file_field_tag_container2" style="display: none; max-height: 54px"">
                      <label class="file_field_tag_filename" >Filename </label>
                      <label id="img_file_field_path_label" class="file_field_tag_filepath" >testtest.txt </label>
                    </div>

                    <div id="img_file_field_upload" style="display: none">
                      <%= submit_tag "Upload",  {:class=>"large_button"} %>
                    </div>
                  </div>


                  <div class="file_field_tag_container1">
                    <div>
                      <%= text_field_tag :picture_url, "", :class => "large_button", :style =>"width: 320px; text-align: left; padding: 6px"  %>
                    </div>

                    <div>
                      <%= submit_tag "Upload from URL", {:class=>"large_button"} %>
                    </div>
                  </div>


                  <div class="file_field_tag_container1">
                    <div>
                      <%= submit_tag "Rotate left" , :class=>"large_button" %>
                    </div>
                    <div>
                      <%= submit_tag "Rotate right" , :class=>"large_button" %>
                    </div>
                    <div>
                      <%= submit_tag "Delete" , :class=>"large_button" %>
                    </div>

                  </div>
                </div>

                <% end %>

                </td>
            </tr>
          </table>
        </div>
      </td>

    <td style="vertical-align: top;">
      <div style="font-size:20px;font-weight:bold">Descriptions</div>
      <%= form_tag contact_desc_path(@contact), remote: true,  :id => 'desc_form' do %>
        <% description = @contact.descs_in_order.first %>
        <table width=70% >
          <col width="20%">
          <col width="40%">
          <col width="20%">
          <col width="20%">
          <% selector = @contact.set_selector(0) %>
          <tr id="selector_row" <%= selector.blank? ? "style=\"display: none\"".html_safe : "" %> >

            <td class="standard_label" >
              Select
            </td>
            <td>
              <div id="desc_selector">
                <%= selector.html_safe if !selector.blank? %>
              </div>
              <div style="display: none">
                <%= submit_tag "Select", :id => "select_button" %>
                <%# NB THis is to address and apparent bug on onchange with AJAX on a select button.
                See https://stackoverflow.com/questions/57535070/why-does-sumbitting-a-form-for-an-ajax-request-using-onchange-on-an-html-eleme %>
              </div>
            </td>
            <td>
              <%= submit_tag "Delete", :class => "standard", :style =>"width: 120px" %>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td class="standard_label" >
              Name
            </td>
            <td>
              <%= text_field_tag :name, description.blank? ? "" : description.name, {"id" => "name", :class => "standard", :style => "width:80%;"}  %>
            </td>
            <td>
              <%= submit_tag "Rename", {"id" => "rename", :class => "standard", :style => "width:100px;" + (selector.blank? ? "display: none" : "") }  %>
            </td>
            <td>
              <%= submit_tag "Add", :class => "standard", :style =>"width: 100px" %>
            </td>
          </tr>
        </table>
          <div id="text_div" <%= selector.blank? ? "style=\"display: none\"".html_safe : "" %> >
          <div class="standard_label">Description</div>
          <%= text_area_tag :desc_text, description.blank? ? "" : description.text, {class: "standard", style: "width:97%; height: 200px", id: "text"} %>
          <%= submit_tag "Update text", :class => "standard", :style =>"width: 200px" %>
        </div>
      <% end %>
    </td>
  <td>
  </td>
  <tr>
</table>
