<p id="notice"><%= notice %></p>
<%= @contact.name %><br/>
<%= @contact.position %><br/>
<%# <%= @contact.description %><br/> %>
<%= @contact.tel_number %><br/>
<%= @contact.mobile_number %><br/>
<%= @contact.url %><br/>
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
