<!DOCTYPE html>
<html>
  <head>
    <title>Contacts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #d3d3e0; font-family: Arial;" >

  <table style="width:100%" align="center" >
    <col width="15%">
    <col width="60%">
    <col width="15%">

    <tr>

      <td align="center" style="font-size: 40px"; >
      </td>


      <td align="center" style="font-size: 50pt; font-weight: bold">
        Contacts sheets
      </td>

      <td align="center" style="font-size: 10pt; font-weight: bold">
      </td>

    </tr>
  </table>



  <%= yield %>
  </body>
</html>
